body{
	margin: 0px; font-family: Helvetica, Ariel, sans-serif;
}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
}

header img{
	border-radius: 190px;
	width: 300px;
	border: 20px solid white;
}

main{
	max-width: 100%;
	text-align: center;
	margin: 10px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	margin: 0;
}

a{
	color: red;
}
a:hover{
	color: purple;
}

footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: 10px}

footer p{
	margin: 5px;
}

footer a{
	color: white;
}

footer a hover{
	opacity: .5;
	background-color: transparent;
}